footer {
	padding: 1rem;
	background-color: #000000;
	color: #3b3b3b;
	text-align: left;
	width: 100%;
	bottom: 0;
	padding-left: 2rem; /* Add padding to the left */
}

footer p {
	margin: 0.5rem 0;
	padding-left: 2rem; /* Add padding to the left */
}

footer a {
	color: #007bff;
	text-decoration: none;
	transition: color 0.3s ease;
	padding-left: 2rem; /* Add padding to the left */
}

footer a:hover {
	color: #0056b3;
}

.footer-content {
    display: flex;
    justify-content: space-between;
	width: 100%;
}

.local-time {
    margin-right: 4em;
}