/* src/styles/MyProjects.css */

.my-projects {
    padding: 20px;
    flex: 1; /* Allow it to grow and shrink */
    z-index: 2; /* Ensure it appears above the background */
}

.my-projects h2 {
    font-size: 2rem; /* Match the font size of About Me */
    margin-bottom: 20px;
    color: #333;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px 0;
    z-index: 2;
}

.project-card {
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    text-decoration: none; /* Remove underline from links */
    color: inherit; /* Inherit text color */
    min-width: 50px;
    transition: transform 0.3s ease, z-index 0.3s ease;
}
.project-card:hover {
    transform: scale(1.1);
    z-index: 3; /* Ensure the hovered card appears above others */
}

.project-card.large {
    grid-column: span 2;
    grid-row: span 2;
}

.projects-container::-webkit-scrollbar {
    height: 8px;
}

.projects-container::-webkit-scrollbar-thumb {
    background-color: #007bff;
    border-radius: 4px;
}